<!DOCTYPE html>
<html lang="en">

<head>
	<% include ../partials/head %>
</head>

<body>
	<div>
		<form action="/update/<%= item.id %>?_method=PUT" id="updateForm" method="POST"></form>
	</div>
	<div class="container">
		<div class="row">
			<h2>Update Item <%= item.id %></h2>
		</div>
		<div class="row">
			
			<div class="form-group">
				<label for="name">Name:</label>
				<input type="text" id="name" name="name" maxlength=50 required form="updateForm" class="form-control" value="<%= item.name %>"/>
			</div>	
			<div class="form-group">
				<label for="qty">Quantity:</label>
				<input type="number" step="1" id="qty" name="qty" required form="updateForm" class="form-control" value="<%= item.qty %>"/>
			</div>
			<div class="form-group">
				<label for="amount">Amount:</label>
				<input type="number" min="0.00" step="0.01" id="amount" name="amount" required form="updateForm" class="form-control" value="<%= item.amount %>"/>
			</div>
			<button type="submit" form="updateForm" class="btn btn-default">Update Item</button>
		</div>
	</div>
</body>