<!DOCTYPE html>
<html lang="en">

<head>
	<% include ../partials/head %>
</head>

<body>
	<div>
		<form action="/add" id="addForm" method="get"></form>
	</div>
	<div class="jumbotron jumbotron-fluid">
		<div class="container">
			<div class="row">
				<h2>Simple CRUD</h2>
			</div>
			<div class="row">
				<h3>Items</h3>
				<table class="table table-hover">
					<thead>
						<tr>
							<th>ID</th>
							<th>Name</th>
							<th>Quantity</th>
							<th>Amount</th>
							<th>Action</th>
						</tr>
					</thead>
					<tbody>
						<% items.forEach(function(item) { %>
							<tr>
								<td><%= item.id %></td>
								<td><%= item.name %></td>
								<td><%= item.qty %></td>
								<td><%= item.amount %></td>
								<td>
									<div class="btn-grp">
										<form action='/edit/<%= item.id %>' id="editForm<%= item.id %>" method="get"></form>
										<form action='/delete/<%= item.id %>?_method=DELETE' id="deleteForm<%= item.id %>" method="post"></form>
										<button type="submit" class="btn btn-warning" form="editForm<%= item.id %>">
											<span class="glyphicon glyphicon-pencil"></span>
										</button>
										<button type="submit" class="btn btn-danger" form="deleteForm<%= item.id %>">
											<span class="glyphicon glyphicon-remove"></span>
										</button>
									</div>
								</td>
							</tr>
						<% }) %>
					</tbody>
				</table>
			</div>
			<div class="row">
				<button type="submit" form="addForm" class="btn btn-primary">
					<span class="glyphicon glyphicon-plus"></span>
				</button>
			</div>
		</div>
	</div>

</body>